<a href="https://colab.research.google.com/github/AArafatt/machine-learning-basics/blob/main/concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

india_weather = pd.DataFrame({
    'city':["mumbai","delhi","bangalore"],
    'temperature':[32,45,30],
    'humidity':[80,60,78]
})
india_weather

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78

In [3]:
us_weather = pd.DataFrame({
    'city':["new york","chicago","orlando"],
    'temperature':[21,14,35],
    'humidity':[68,65,75]
})
us_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [4]:
df = pd.concat([india_weather,us_weather])
df

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78
0   new york           21        68
1    chicago           14        65
2    orlando           35        75

In [5]:
df = pd.concat([india_weather,us_weather], ignore_index = True)
df

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78
3   new york           21        68
4    chicago           14        65
5    orlando           35        75

In [12]:
df = pd.concat([india_weather,us_weather],keys=["india","us"])
df

              city  temperature  humidity
india 0     mumbai           32        80
      1      delhi           45        60
      2  bangalore           30        78
us    0   new york           21        68
      1    chicago           14        65
      2    orlando           35        75

In [14]:
df.loc['us']

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [15]:
temperature_df = pd.DataFrame({
    'city':["mumbai","delhi","bangalore"],
    'temperature':[32,45,30]
})
temperature_df

        city  temperature
0     mumbai           32
1      delhi           45
2  bangalore           30

In [16]:
windspeed_df =pd.DataFrame({
       'city':["mumbai","delhi","bangalore"],
       'windspeed':[7,12,9]
})
windspeed_df

        city  windspeed
0     mumbai          7
1      delhi         12
2  bangalore          9

In [18]:
pd.concat([temperature_df,windspeed_df], axis =1)

        city  temperature       city  windspeed
0     mumbai           32     mumbai          7
1      delhi           45      delhi         12
2  bangalore           30  bangalore          9

In [19]:
temperature_df

        city  temperature
0     mumbai           32
1      delhi           45
2  bangalore           30

In [20]:
s= pd.Series(['Humid','Dry','Rain'], name ='event')
s

0    Humid
1      Dry
2     Rain
Name: event, dtype: object

In [23]:
df = pd.concat([temperature_df,s],axis =1)
df

        city  temperature  event
0     mumbai           32  Humid
1      delhi           45    Dry
2  bangalore           30   Rain